@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 168 85% 52%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --section-background: 183 96% 41%;
  }

  .dark {
    --background: 0, 0%, 6%;
    --foreground: 183 97% 41%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 183, 100%, 36%;
    /* --secondary-foreground: 0 0% 98%; */

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --section-background: 220 5% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root,
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Inter';
}

footer {
  margin-top: auto;
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}
